@{
    var title = ViewData["IsHomePage"] == null || Convert.ToBoolean(ViewData["IsHomePage"]) == false ?
        $"{ViewData["Title"]} - {Configuration["AppMetadata:Name"]}" :
        $"{Configuration["AppMetadata:Name"]} - Description.";
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (Configuration.GetNullableBool("General:HideSiteFromSearchEngines") == true)
    {
        <meta name="robots" content="noindex,nofollow" />
    }
    <meta name="description" content="" />

    <environment include="Development">
        <link rel="stylesheet" href="~/dist/styles.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/styles.css" asp-append-version="true" />
    </environment>
    @RenderSection("styles", required: false)
</head>
<body class="sf-site">
    @if (ViewData["ShowHeader"] == null || Convert.ToBoolean(ViewData["ShowHeader"]))
    {
        <partial name="_Navbar" />
    }

    @if (ViewData["ShowCookieConsent"] == null || Convert.ToBoolean(ViewData["ShowCookieConsent"]))
    {
        <partial name="_CookieConsentPartial" />
    }

    @RenderBody()

    @if (ViewData["HideFooter"] != null && Convert.ToBoolean(ViewData["HideFooter"]) == false)
    {
        <partial name="_Footer" />
    }

    @if (User.Identity.IsAuthenticated)
    {
        <script type="application/json" id="CurrentUser">
            @Json.Serialize(UserContext.CurrentUser)
        </script>
    }
    <script src="~/dist/shared-layout.bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>